:root {
    --color-content-background: #2b303a;
    --color-background: #1a1d23;
    --color-text: #e5e5e5;
    --color-text-accent-1: #f9df74;
    --color-text-accent-2: #d64933;
}

* {
    background: var(--color-content-background);
    color: var(--color-text);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.1em;
}

body {
    background: var(--color-background);
    height: 100vh;
}